#webiste{
  display: none;
}
input#website {
  display: none;
}
form.customForma input {
  border: none;
  border-bottom: 2px solid #0000007a;
  border-radius: 0px;
  
}

.form-control:focus {
  color: #364654;
  background-color: #fbfbfb;
  border-color: rgb(51, 46, 164);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
label {
  color: black;
  font-weight: 600;
}
.btn-primary {
  color: #fff;
  background-color: rgb(51, 46, 164);
  border-color: rgb(51, 46, 164);
}
.btn-primary:hover {
  color: #fff;
  background-color: rgb(66, 60, 195);
  border-color: rgb(51, 46, 164);
}